name: CD / Publish release
on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build_nifs:
    name: NIF ${{ matrix.target }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: arm-unknown-linux-gnueabihf
            os: ubuntu-latest
            use-cross: true
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
            use-cross: true
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
            use-cross: true
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: riscv64gc-unknown-linux-gnu
            os: ubuntu-latest
            use-cross: true
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            use-cross: true
          - target: x86_64-pc-windows-gnu
            os: windows-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Extract version
        id: version
        shell: python
        run: |
          import os
          ref_name = "${{ github.ref_name }}"
          version = ref_name[1:] if ref_name.startswith('v') else ref_name
          with open(os.environ['GITHUB_OUTPUT'], 'a') as f:
            f.write(f'version={version}\n')
      - name: Build the project
        id: build-crate
        uses: philss/rustler-precompiled-action@v1.0.1
        with:
          project-name: speck_ex
          project-version: ${{ steps.version.outputs.version }}
          target: ${{ matrix.target }}
          nif-version: "2.15"
          use-cross: ${{ matrix.use-cross }}
          project-dir: "native/speck_ex"
      - name: Artifact upload
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.build-crate.outputs.file-name }}
          path: ${{ steps.build-crate.outputs.file-path }}
      - name: Publish archives and packages
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ steps.build-crate.outputs.file-path }}

  deploy:
    name: Publish release
    environment: hex.pm
    runs-on: ubuntu-latest
    needs:
      - build_nifs

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Cache deps
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: deploy-deps-cache-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            deploy-deps-cache-

      - uses: erlef/setup-beam@v1
        with:
          otp-version: 28.x
          elixir-version: 1.19.x
      - name: Install dependencies
        run: mix do local.hex --force, local.rebar --force, deps.get
      - name: Replace versions with GitHub tag
        run: |
          export NON_PREFIXED_VERSION="$(echo -n "$GITHUB_REF_NAME" | sed 's@v@@')"
          sed -i "s@~s(main)@~s($GITHUB_REF_NAME)@" mix.exs
          sed -i "s@0.0.0+development@$NON_PREFIXED_VERSION@" mix.exs
          sed -i "s@~> 0.0.1@~> $NON_PREFIXED_VERSION@" README.md
      - name: Compile code
        run: mix compile
      - name: Generate checksums file
        run: mix rustler_precompiled.download SpeckEx.Native --all --print
      - name: Create docs
        run: mix docs
      - name: Publish release
        run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
